* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#ffffff;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100%;
  width: 100%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom:#bebebe solid 1px;
  height: 5vw;
  width: 100%;
}

nav .inner-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0 10%;
}

.inner-nav  a img {
  padding-top: 7px;
  height: 4.6vw;
  width: auto;
}

.links a{
  transition: 0.7s ease;
}

a:hover{
  color: rgb(103, 33, 235);
}

.links ul{
  display: flex;
  list-style: none;
  gap: 3.2vw;
  font-size: 1.1vw;
  color: #56328c;
}

.links i{
  display: none;
  cursor: pointer;
}


 .page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42.1vw;
  width: 100%;
  background-image: url(./image/hero-banner1.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.page1 .inner-content {
  height: auto;
  width: 40vw;
  background: none;
}

.page1 h1 {
  text-align: center;
  font-size: 2.8vw;
  font-weight: 600;
  color: #b3b0b0;
  background: none;
}

.page1 p {
  text-align: center;
  margin-top: 1.5vw;
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 2vw;
  background: none;
}


/* ------------ page-2 ------------  */

.page2 h1 {
  text-align: center;
  margin-top: 6vw;
  margin-bottom:3vw ;
  color: #56328c;
  font-weight: 600;
  font-size: 2vw;
}

.page2{
  margin: 2vw 0;
}

.work-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.method_sec {
width: 30%;
}

.method_sec .icon1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.method_sec  h3 {
  line-height: 3vw;
  color: #252525;
  font-weight: 300;
  font-size: 1.5vw;
  text-align: center;
}


.method_sec  p{
  line-height: 2vw;
  color: #252525;
  font-size:1vw;
  text-align: center;

}

.icon1{
  margin-bottom:6vw ;
}

.icon1 img {
  height: 8.5vh;
}

.create_acc_txt h3:hover{
  color:#55328D;
  font-weight: 600;
 }

 .load_fund_txt h3:hover{
  color:#f15f26;
  font-weight: 600;
 }

 .Pay_bill_txt h3:hover{
  color:#CF1C5C;
  font-weight: 600;
 }


/* ---------- page-3 ----------  */

.page3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10%;
}

.login_img{
  width: 600px
}

.login_img img{
  object-fit: fill;
  height: auto;
  width: 250px;
}

.login_card{
  width: 410px
}

#card {
  background: #fbfbfb;
  border-radius: 0.6vw;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #56328c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: #56328c;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #9367d4;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #56328c;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: #56328c;
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

#forgot-pass {
  color: #56328c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

a {
  text-decoration: none;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #ac8adf, #56328c);
  height: 2px;
  margin: 0.1rem auto 0 auto;
  width: 89px;
}

/* ------------ page-4 video_section -----------  */

.page4{
  margin: 0 10%;
}

.heading h1{
  text-align: center;
  font-size:2.2vw;
  color: #56328c;
}

.heading p{
  text-align: center;
  font-size: 1vw;
  line-height: 2vw;  
}
.videos{
 margin-top: 2vw;
}

 iframe {
  height: 40vw;
  width:100%;
 border-radius: 15px; 
}

/* -------------- banner_section -------------  */

.banner_img{
  margin-top: 10vw;
  background-image: url(/image/banner_img04.jpg);
  height: 47vh;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.banner_img .banner_text{
  text-align: center;
  margin: 5vw 0;
  background:none;
}

.banner_text h2{
  background:none;
  color:#ffffff;
  font-size: 2.2vw;
  font-weight: 600;
}

.banner_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin-top:-1.9vw;
}

.banner_btn a{
  margin: 0 1.4vw;
  background: none;
}

.banner_btn a img{
  background: none;
  height: 11vh;
  width: 21vw;
}

.bottom_text{
  margin: 5px 0;
}

.bottom_text h2{
  text-align: center;
  color:#56328c;
  font-size:2vw;
  font-weight:700; 
}

/* ---------------- gallery_section ----------------  */

.para_text{
  margin: 0 10%;
  margin-top:2.5vw;
  margin-bottom: 1.5vw;
}

.para_text p{
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.7vw;
}

.gallery_section{
  margin: 1.5vw 10%;
}

.upper_img{
  display: flex;
}

.img1{
  background-image: url(/image/gallery_img1.jpg);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  background-color: #55328D;
  height: 33vw;
  width: 65%;
  margin: 0.6vw 0.6vw;
}

.h_text {
  margin-top: 25vw;
  background: none;
  margin-left: 2.5vw;
}

.h_text h2{
  background: none;
  font-size: 2.1vw;
  font-weight: 700;
  color:#fbfbfb;
  margin: 1vw 0;
}

.h_text p{
  background:none;
  font-size: 1vw;
  font-weight: 400;
  color:#fbfbfb;
  margin: 0.9vw 0;
}

 .h_text a{
  background:none;
  font-size: 1vw;
  font-weight: 500;
  color:#f79f2c;
}

.h_text a i{
  background: none;
  font-size: 1vw;
}


.img2{
  height: 33vw;
  width:35% ;
  margin: 0.6vw 1vw;
}

.img2 .img_sec img{
  object-fit:cover;
  height: 34vh;
  width: 25.6vw;
  margin: 0 5px;
  margin-bottom:-4px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius:20px ;
}

.text_sec{
  height: 36vh;
  background:linear-gradient(to right, #4b1491 0%, #782dbe 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2.6vw;
}

.text_sec h1{
  background:none;
  color:#fbfbfb;
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 0.8vw;
}

.text_sec p{
  background:none;
  color:#fbfbfb;
  font-size: 1vw;
  line-height: 1.8vw;
  margin-bottom: 0.8vw; 
}

.text_sec a{
  background:none;
  color:#f79f2c;
  font-size: 1vw;
}

.text_sec a i{
  background: none;
  font-size: 1vw;
}

/* ----------- lower_image -----------  */

.lower_img{
  display: flex;
}

 .lower_img1{
  height: 33vh;
  width:35% ;
  margin: 0.6vw 15px;
 }

 .lower_img1 .img_sec img{
  object-fit:cover;
  height: 34vh;
  width: 25.6vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom:-4px ;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius:20px ;
 }


.lower_img1_text_sec{
  height: 36vh;
  background : linear-gradient(to right, #b2085c 0%, #f52b8f 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2.6vw;
}

.lower_img1_text_sec h1{
  background:none;
  color:#fbfbfb;
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 0.8vw;
}

.lower_img1_text_sec p{
background:none;
  color:#fbfbfb;
  font-size: 1vw;
  line-height: 1.8vw;
  margin-bottom: 0.8vw; 
}

.lower_img1_text_sec a{
  background:none;
  color:#f79f2c;
  font-size: 1vw;
}

.lower_img1_text_sec a i{
  background: none;
  font-size: 1vw;
}


.img_lower_2{
  background-image: url(/image/gallery_lower_img2.jpg);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  background-color: #55328D;
  height: 33vw;
  width: 65%;
  margin: 0.6vw 0.6vw;
  
}

/* ---------- Footer ------------- */

.footer_sec{
  background: #3e1a5a;
  padding: 4vw 0 0.8vw;
}

.footer_inner_sec{
  margin: 0 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background: none;
}

.company{
  width: 20%;
  background: none;
}

.footer_inner_sec p{
  margin-bottom: 10px;
  font-size:1vw;
  font-weight: 700;
  color: #fff;
  background: none;
}

.footer_inner_sec ul{
  list-style: none;
  line-height:1.3vw ;
  background: none;
}

.footer_inner_sec li{
  font-size: 1vw;
  font-weight: 400;
  color: #fff;
  background: none;
}

.cod_of_conduct{
  width: 20%;
  background: none;

}

.support{
  width: 20%;
  background: none;
}

.support a{
  margin-bottom: 10px;
  font-size:1vw;
  font-weight:500;
  color: #fff;
  background: none;
}
.chat_support{
  background: none;
}

.call_support{
  background: none;
  margin-top: 0.8vw;
}

.footer_logo{
  width: 20%;
  background: none;
}

.f_logo{
  background:none ;
  margin-top: -2.2vw;
  margin-left: -1vw;
}

.f_logo img{
  height: 19vh;
  width: 9vw;
  background: none;
}

.social_media{
  background: none;
}

.socio_icon{
  background: none;
}

.social_media a{
  background:none;
}

.social_media i{
  background: none;
  color: #fff;
  font-size: 2.1vw;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin-top:10px;
}

.copyright p{
  background:none ;
  color: #fff;
  font-size: 1vw;
  font-weight: 400;
}


@media (max-width:600px) {

  nav {
    height: 7.6vh;
  }
  
  .inner-nav a img{
    padding-top: 5px;
    height: 6.9vh;
    width:auto ;
  }

  .nav-item{
    position: fixed;
    left: -100%;
    top: 7.5vh;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    padding: 20px;
  }

  .links ul li{
    margin: 16px 0;
    font-size: 20px;
  }

  .nav-item.active{
    left:0;
  }

  .links .hamburger{
    display: block;
    align-items: center;
    font-size: 5vw;
  }

  .page1 {
    height: 55vh;
  }
  
  .page1 .inner-content {
    width: 90vw; 
  }
  
  .page1 h1 {
    font-size: 6vw;
  }
  
  .page1 p {
    font-size: 2.7vw;
    line-height: 3.5vw;
  }

  .page2 h1 {
    margin-top: 10vw;
    margin-bottom:7vw ;
    font-size: 4vw;
  }
  
  .page2{
    margin: 2vw 0;
  }
  
  .work-group{
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .method_sec {
  width: 100%;
  margin: 4vw 0;
  }
    
  .method_sec  h3 {
    line-height: 9vw;
    font-size: 5vw;
  }
  
  .method_sec  p{
    line-height: 2.5vw;
    font-size:2vw;
  }
  
  .page4{
    margin: 0 2%;
  }
  
  .heading h1{
    font-size:6vw;
  }
  
  .heading p{
    font-size: 2.5vw;
    line-height: 5vw;  
  }
  .videos{
   margin-top: 5vw;
  }
  
   iframe {
    height: 60vw;
  }
  
  .banner_img{
    margin-top: 10vw;
    height: 38vh;
  }
  
  .banner_img .banner_text{
    margin: 8vw 0;
  }
  
  .banner_text h2{
    font-size: 5vw;
    font-weight: 500;
  }
  
  .banner_btn{
    flex-direction: column;
  }
  
  .banner_btn a{
    margin: 3vw 0;
  }
  
  .banner_btn a img{
    height: 6.5vh;
    width: 60vw;
  }
  
  .bottom_text{
    margin: 1vw 10%;
  }
  
  .bottom_text h2{
    font-size:4vw;
    font-weight:600; 
  }
 
  /* ---------------- gallery_section ----------------  */

.para_text{
  /* margin: 0 10%; */
  margin-top:5vw;
  margin-bottom: 3vw;
}

.para_text p{
  /* text-align: center; */
  font-size: 2.8vw;
  font-weight: 400;
  line-height: 4vw;
}

.gallery_section{
  margin: 1.5vw 10%;
}

.upper_img{
  display: flex;
}

.img1{
  background-image: url(/image/gallery_img1.jpg);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  background-color: #55328D;
  height: 33vw;
  width: 65%;
  margin: 0.6vw 0.6vw;
}

.h_text {
  margin-top: 25vw;
  background: none;
  margin-left: 2.5vw;
}

.h_text h2{
  background: none;
  font-size: 2.1vw;
  font-weight: 700;
  color:#fbfbfb;
  margin: 1vw 0;
}

.h_text p{
  background:none;
  font-size: 1vw;
  font-weight: 400;
  color:#fbfbfb;
  margin: 0.9vw 0;
}

 .h_text a{
  background:none;
  font-size: 1vw;
  font-weight: 500;
  color:#f79f2c;
}

.h_text a i{
  background: none;
  font-size: 1vw;
}


.img2{
  height: 33vw;
  width:35% ;
  margin: 0.6vw 1vw;
}

.img2 .img_sec img{
  object-fit:cover;
  height: 34vh;
  width: 25.6vw;
  margin: 0 5px;
  margin-bottom:-4px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius:20px ;
}

.text_sec{
  height: 36vh;
  background:linear-gradient(to right, #4b1491 0%, #782dbe 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2.6vw;
}

.text_sec h1{
  background:none;
  color:#fbfbfb;
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 0.8vw;
}

.text_sec p{
  background:none;
  color:#fbfbfb;
  font-size: 1vw;
  line-height: 1.8vw;
  margin-bottom: 0.8vw; 
}

.text_sec a{
  background:none;
  color:#f79f2c;
  font-size: 1vw;
}

.text_sec a i{
  background: none;
  font-size: 1vw;
}
}
  
